DATABASE_URL=postgresql://stellarid_user:stellarid_pass@localhost:5432/stellarid_db
REDIS_URL=redis://localhost:6379
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_PASSPHRASE=Test SDF Network ; September 2015

CREDENTIAL_NFT_CONTRACT_ID=your_deployed_contract_id_here
REVOCATION_CONTRACT_ID=your_deployed_contract_id_here
DISCLOSURE_CONTRACT_ID=your_deployed_contract_id_here

IPFS_API_URL=https://ipfs.infura.io:5001
IPFS_PROJECT_ID=your_infura_project_id
IPFS_PROJECT_SECRET=your_infura_secret

GITHUB_CLIENT_ID=your_github_oauth_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_client_secret
GITHUB_CALLBACK_URL=http://localhost:4000/api/v1/github-issuer/callback

LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:5555/api/v1/linkedin-issuer/callback

PORT=4000
NODE_ENV=development

